mat-toolbar{
  background-color: lightblue;
  height: 8%;
  color: black;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}

/* Style the tab group */
mat-tab-group {
  background-color: aliceblue; /* Background color for the tab group */
}

/* Style the individual tabs */
mat-tab {
  border: 1px solid #ccc; /* Border for the tabs */;
}

