<form class="question-form">

  <mat-chip-listbox selectable multiple name="selectedCategories" [(ngModel)]="selectedCategories"
    (click)="selectedChip()">
    <mat-chip-option *ngFor="let category of drug_columns" [value]="category">
      {{category.replaceAll('_', ' ')}}
    </mat-chip-option>
  </mat-chip-listbox>
  <!-- Question -->
  <div class="question">
    <mat-card>{{currentQuestion}}</mat-card>
    <button mat-icon-button matTooltip={{this.targetAnswer}} class="questionIcon">
    </button>
  </div>


  <!-- Answer Input -->
  <mat-form-field class="question-full-width">
    <input matInput placeholder="Enter your answer here" (focusout)="onInputFocusOut($event)">
  </mat-form-field>

  <!-- Submit Button -->
  <button type="submit" mat-raised-button color="primary" (click)="submitAnswer()">Submit</button>
</form>
