<form class="question-form">
  <!-- Question -->
  <div class="question">
    <mat-card>{{currentQuestion}}</mat-card>
    <button mat-icon-button matTooltip={{this.targetAnswer}} class="questionIcon">
    </button>
  </div>


  <!-- Answer Input -->
  <mat-form-field class="question-full-width">
    <input matInput placeholder="Enter your answer here" (focusout)="onInputFocusOut($event)">
  </mat-form-field>

  <!-- Submit Button -->
  <button type="submit" mat-raised-button color="primary" (click)="submitAnswer()">Submit</button>
</form>
